
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutMe</title>
</head>
<body>
    <div>
        <a href="/CvFormation/HomePage">Home</a><br />
        <a href="/CvFormation/AboutMe">AboutMe</a>
        <a href="/CvFormation/Experience">Experience</a>

        <h1 style="background-color:aquamarine">Personal Actuality</h1>
        <p style="font-size:130%">
            I am currently working as a  Quality Assurance Engineer - Norwich Technologies. Junction, Vermont, USA. <br />
            I have completed my Master of Science in the department of Computer Science from Houston University,Texas.
            I have completed my Bachelor of Science in Computer Science and Engineering from AIUB.
            I have done my internship in IT department from SIBL Dhaka.
        </p>
    </div>
</body>
</html>
