
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Education</title>
</head>
<body>
    <div>
        <a href="/CvFormation/HomePage">Home</a><br />
        <a href="/CvFormation/AboutMe">AboutMe</a>
        <a href="/CvFormation/Experience">Experience</a>
        <a href="/CvFormation/Education">Education</a>

        <h1 style="background-color:aquamarine">Education</h1>
        <p style="font-size:130%">

            <h2>
                Masters in CS - Houston University Texas,USA.
                Bachelor in CS - American International University - Bangladesh (AIUB)
                HSC - Milestone College Uttara Dhaka.
                SSC - D.R High School Muradnagar Cumilla.
            </h2>


    </div>
</body>
</html>
