
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    
</head>
<body>
    <div>
        <a href="/CvFormation/HomePage">Home</a><br />
        <a href="/CvFormation/AboutMe">AboutMe</a>
        <a href="/CvFormation/Experience">Experience</a>
        <a href="/CvFormation/Education">Education</a>
        <h1 style="background-color:aquamarine">Curriculam vitae</h1>
        <hr>
        <h2 style="background-color:aquamarine">Abdullah Al Nasir</h2>

        <p style="font-size:150%">
            Quality Assurance Engineer - Norwich Technologies <br />
            Junction, Vermont, USA <br />
            Email: abdullahnasif07@gmail.com <br />
            Phone: 01715663223 <br />


        </p>





    </div>
</body>
</html>
